/* 定义公共属性字段 */


/* syh end */
.mat-form-field-appearance-outline .mat-form-field-infix{
    padding:0em;
}

.mat-form-field-infix{
    padding:0em;
}


.am-list-item .am-list-line .am-list-arrow{
    background-image:url();
}

.mat-select-arrow.ng-tns-c224-3{
    border: 0px;
}

.mat-select-arrow.ng-tns-c224-7{
    border: 0px;
}
.mat-select-arrow.ng-tns-c224-15{
    border: 0px;
}